[Unit]
Description=DeepForge-UpdateManager

[Service]
Type=simple
ExecStart=sudo /usr/bin/DeepForge/UpdateManager/UpdateManager

[Install]
WantedBy=multi-user.target